.info_tracks, .info_drivers {
    width: "155px";
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.info_drivers:hover, .info_tracks:hover{
    box-shadow: 0 0 40px 40px red inset;
    color: #fff;
    outline: 0;
}

#logo1 {
    margin-left: 12%;
}

#input {
    width: 80%;
    height: 50%;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 0.6em;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
}

#input:focus {
    outline: red;
}

#title1 {
    background-color: #fc4444;
    height: 80px;
    width: 104.7%;
    border: 2px solid black;
}

#universe1 {
    width: 20%;
    margin-left: 39%;
    font-size: 3.2rem;
    padding-top: 5px;
    color: black;
}

#title_side1 {
    background-color: #fc4444;
    height: 80px;
    width: 84.7%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    margin-left: 20%;
}

#universe_side1 {
    width: 25%;
    margin-left: 37%;
    font-size: 3.2rem;
    padding-top: 5px;
    color: black;
}

.sidenav {
    height: 100vh;
    position: absolute; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color:#fc4444;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    position: sticky;
    width: 20%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    float: left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn1 {
    position: absolute;
    top: 3.9%;
    left: 2%;
    font-size: 25px;
    margin-right: 50px;
    color: white;
    background-color: black;
    width: 15%;
}

.openBtn {
    width: 130px;
    font-size: 26px;
    color: white;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    background-color: black;
}